div {
    width: 400px;
    /* height: 200px; */
    background-color: tomato;
    padding-top: 20px;
    padding-left: 40px;
    border: 10px solid black;
    border-radius: 10px;
    /* box-sizing: border-box; */
    margin: 10px 20px 30px 40px;
}